@font-face {
  font-family: 'Altesse';
  src: url('fonts/Altesse-Regular.woff2') format('woff2'),
       url('fonts/Altesse-Regular.woff') format('woff'),
       url('fonts/Altesse-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Altesse', 'Playwrite IN Guides', 'Roboto', sans-serif; /* Corrected: Added Roboto fallback */
}

h2 {
  font-family: 'Altesse';
}

p {
  font-family: 'Playwrite IN Guides';
}