@font-face {
  font-family: 'Altesse';
  src: url('fonts/Altesse-Regular.woff2') format('woff2'),
       url('fonts/Altesse-Regular.woff') format('woff'),
       url('fonts/Altesse-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice';
  src: url('fonts/Alice-Regular.woff2') format('woff2'),
       url('fonts/Alice-Regular.woff') format('woff'),
       url('fonts/Alice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Altesse', 'Alice', sans-serif; /* Altesse first, then Alice, then sans-serif */
}

h2 {
  font-family: 'Altesse'; /* Altesse for h2 headings */
}

p {
  font-family: 'Alice'; /* Alice for paragraphs */
}